<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 프로젝트에 맞게 수정  -->
<mapper namespace="mybatis.mapper.CommonMapper">
	<cache />

	<select id="select1" resultType="String">
		/*	select1	*/
		select NOW()
			, '1'
			, '2'
			, '3'
		from dual
	</select>
	
	<select id="select2" resultType="String">
		/*	select2	*/
		select now() from dual
	</select>
</mapper>