<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [${LOG_LEVEL_PATTERN:-%5p}] [%class{0}] [%X{REQSEQ}] : %msg %n</pattern>
		</encoder>
	</appender>
	<!-- 
		# log4jdbc settings development production
		jdbc.connection     :     OFF       OFF
		jdbc.audit          :     OFF       OFF
		jdbc.sqlonly        :     OFF       OFF
		jdbc.sqltiming      :     INFO      OFF
		jdbc.resultset      :     OFF       OFF
		jdbc.resultsettable :     INFO      OFF
	-->
	<logger name="jdbc" level="OFF"/>
	<logger name="jdbc.connection" level="OFF"/>
	<logger name="jdbc.audit" level="OFF"/>
	<logger name="jdbc.sqlonly" level="OFF"/>
	<logger name="jdbc.sqltiming" level="INFO"/>
	<logger name="jdbc.resultset" level="OFF"/>
	<logger name="jdbc.resultsettable" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>